/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: #F3F4F9;
    font-family: 'Roboto';
    color: #203cb3;
  }

.navbar {
    background-color: rgb(2,21,70);
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Roboto';
    color: white;
}

.navbar-title-link {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.navbar-first-link {
    display: inline-block;
    padding-left: 0px;
    color: white;
}

.navbar-link {
    display: inline-block;
    padding-left: 15px;
    color: white;
}

.navbar-logo{
    display: inline-block;
    float: right;
  }

.page-content {
    background-color: red;
}
